<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Health Games</title>
  </head>
  <body>
    <div class="game-container">
      <h1>Health Education Games</h1>
      <div class="game-selection">
        <a href="{{ url_for('game1') }}">Matching Game</a>
        <a href="{{ url_for('game2') }}">Word_scramble</a>
      </div>
    </div>
  </body>
</html>
